<!DOCTYPE html>
<html style="width: 100%;height: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pika Chewniverse</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body style="height: 100%;width: 100%;vertical-align: middle;">
    <div class="login-clean" style="height: 100%;vertical-align: middle;display: block;background-color: #5c3613;padding: 280px;padding-top: 284px;">
        <form method="post" style="padding: 30px;margin-top: 0;">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><img src="static/img/Pikachu.png" height="100%" width="100%"></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(244,206,71);">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a></form>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>